name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: "0 5 * * *" # Runs every day at 5
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Pull in dev.to posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          max_post_count: 10
          feed_list: "https://bruno.verachten.fr/feed.xml"
          template: "- [$title](https://bruno.verachten.fr$url)$newline"
          tag_post_pre_newline: true
